[submodule "tasklist"]
	path = .vim/bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "easybuffer"]
	path = .vim/bundle/easybuffer
	url = https://github.com/vim-scripts/easybuffer.vim.git
[submodule "taglist"]
	path = .vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "minibufexpl"]
	path = .vim/bundle/minibufexpl
	url = https://github.com/vim-scripts/minibufexpl.vim
[submodule "nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "flake8-vim"]
	path = .vim/bundle/flake8-vim
	url = https://github.com/vim-scripts/Flake8-vim.git
[submodule "pep8"]
	path = .vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "riv.vim"]
	path = .vim/bundle/riv.vim
	url = https://github.com/Rykka/riv.vim.git
