[user]
	email = loacker@autistici.org
	name = matteo [l0aCk3r]
[core]
	editor = vim
	pager = cat
[merge]
	tool = vimdiff
[color]
	ui = true
	status = true
[format]
	pretty = %C(yellow)%h %C(red)%d %C(cyan)%ad %C(white)'%s' %C(green)(%cr) %C(blue)<%an>
[log]
	date = short
	decorate = long
	abbrevCommit = true
[alias]
	glog = log --graph --all --pretty=oneline --decorate

[credential]
	helper = cache
[push]
	default = current
