! Reload with "xrdb -load ~/.Xresources"

! ----------------
! Color info table 
! ----------------
! +-------------------+--------------------------+
! | Color0  (black)   | color8  (bright black)   |
! | Color1  (red)     | color9  (bright red)     |
! | Color2  (green)   | color10 (bright green)   |
! | Color3  (yellow)  | color11 (bright yellow)  |
! | Color4  (blue)    | color12 (bright blue)    |
! | Color5  (magenta) | color13 (bright magenta) |
! | Color6  (cyan)    | color13 (bright cyan)    |
! | Color7  (white)   | color15 (bright white)   |
! +-------------------+--------------------------+

! ------------------------------------------------------
! Base16 3024 - Jan T. Sott (http://github.com/idleberg)
! ------------------------------------------------------

#define base00 #090300
#define base01 #3a3432
#define base02 #4a4543
#define base03 #5c5855
#define base04 #807d7c
!#define base05 #a5a2a2
! Changed in a more light gray
#define base05 #d8d8d8
#define base06 #d6d5d4
#define base07 #f7f7f7
#define base08 #db2d20
#define base09 #e8bbd0
#define base0A #fded02
#define base0B #01a252
#define base0C #b5e4f4
#define base0D #01a0e4
#define base0E #a16a94
#define base0F #cdab53

*.background:  #002020
*.foreground:  base05

*.cursorColor: base05
!*.color0:      base00
!*.color1:      base08
!*.color2:      base0B
!*.color3:      base0A
!*.color4:      base0D
*.color4:       #0090FF
!*.color5:      base0E
!*.color6:      base0C
!*.color7:      base05
!*.color8:      base03
!*.color9:      base09
!*.color10:     base01
!*.color11:     base02
!*.color12:     base04
!*.color13:     base06
!*.color13:     base0F
!*.color15:     base07

! ----------------------------------------------

! --------------
! Global Options
! --------------

*fading:       15
*fadeColor:    #666666

! ----------------------------------------------

! -----------
! Xft Options
! -----------

Xft.antialias: 1
Xft.autohint:  0
! dpi for t461s
!Xft.dpi:       105
! dpi for x230
Xft.dpi:       96
Xft.hinting:   1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba:      rgb

! ----------------------------------------------

! -------------
! URxvt Options
! -------------

! General
!URxvt*termName:           xterm
!URxvt*termName:           xterm-256color
URxvt*termName:           rxvt-unicode-256color
URxvt*loginShell:         true
URxvt*scrollBar:          false
URxvt*secondaryScroll:    true
URxvt*saveLines:          65535
URxvt*cursorBlink:        true
URxvt*urgentOnBell:       true
!URxvt*override-redirect:  false
!URxvt*borderLess:         false
!URxvt*internalBorder:     0
!URxvt*externalBorder:     0

! Reverse bg and fg colors 
URxvt.reverseVideo: false

! Font config
URxvt*font:           xft:andale mono:antialias=true:size=13
URxvt*boldFont:       xft:andale mono:antialias=true:bold:size=13
URxvt*italicFont:     xft:andale mono:antialias=true:italic:size=13
URxvt*boldItalicFont: xft:andale mono:antialias=true:bold:italic:size=13

! Set the style of the scrollbar: rxvt (default), plain, next, xterm
URxvt*scrollstyle: rxvt

! The string will be interpreted as if typed into the shell as-is.
! In this example, printing will be disabled altogether.
URxvt.print-pipe: "cat > /dev/null"

! Set pseudo transparency
!URxvt*shading:     50
!URxvt*transparent: true

! Set others feature
! N.B. No space between perl script definition
URxvt.perl-ext-common:      default,font-size,url-select
! url-select
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.url-select.launcher:  /usr/bin/firefox-bin -new-tab
URxvt.url-select.underline: true
! font-size
URxvt.keysym.C-Up:          perl:font-size:increase
URxvt.keysym.C-Down:        perl:font-size:decrease

! Set colored man pages
URxvt*colorIT: base0A
URxvt*colorBD: base07
URxvt*colorUL: base08

! Config for solarized color scheme
URxvt*intensityStyles: false

! Set the 
URxvt.modifier: alt

! ----------------------------------------------

! -------------
! XTerm Options
! -------------

XTerm*termName:   xterm-256color
XTerm*FaceName:   andale mono
XTerm*FaceSize:   13
XTerm*renderFont: true
XTerm*ScrollBar: false

XTerm*background: white
XTerm*foreground: black

!XTerm*highlightColor:          red
!XTerm*highlightColor:          blue

!XTerm*colorBDMode:             true
!XTerm*colorBD:                 white
!XTerm*colorULMode:             true
!XTerm*colorUL:                 cyan

!XTerm*pointerColor:            black
!XTerm*pointerColorBackground:  white
!XTerm*cursorColor:             white

XTerm*saveLines: 10000

XTerm*font:           xft:inconsolata:antialias=true:size=13
XTerm*boldFont:       xft:inconsolata:antialias=true:bold:size=13
XTerm*italicFont:     xft:inconsolata:antialias=true:italic:size=13
XTerm*boldItalicFont: xft:inconsolata:antialias=true:bold:italic:size=13

! ----------------------------------------------

